<footer>
    <div class="footer">
        <div class=" footer-socials border-top">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
        </div>
        <div class="footer-name">
            &copy;Paradice Private Limited
        </div>
        <div class="footer-links">

            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>