<% layout("layout/boilerplate.ejs"); %>
<div class="col-6 offset-3">
    <h1>SignIn to Paradise</h1>
    <form class="needs-validation" method="post" action="/signin" novalidate >
        <div>
            <label class="form-label" for="username">Username</label>
            <input name="username" class="form-control" id="username" type="text" required>
            <div class="invalid-feedback">Please fill the username</div>
        </div>
        <br>
        <div>
            <label class="form-label" for="password">Password</label>
            <input name="password" class="form-control" id="password" type="password" required>
            <div class="invalid-feedback">Please fill the password</div>
        </div>
        <br>
        <div class="row ">
            <div class="btn-group">
                <button class="btn btn-primary col-6">Sign In</button>
                <a class="btn btn-outline-primary col-6" href="/signup">Sign Up</a>
            </div>
        </div>    
    </form>
</div>
<script src="js/script.js"></script>